.App {
  text-align: center;
  height: 100vh; /* Adicionar altura para preencher a tela */
  margin: 0; /* Remover margem para preencher a tela */
  padding: 0; /* Remover preenchimento para preencher a tela */
  display: flex; /* Adicionar display flex para centralizar o conteúdo */
  flex-direction: column; /* Adicionar direção de coluna para centralizar o conteúdo */
  align-items: center; /* Adicionar alinhamento de itens para centralizar o conteúdo */
  justify-content: center; /* Adicionar justificativa de conteúdo para centralizar o conteúdo */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  height: 100vh; /* Adicionar altura para preencher a tela */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}